<h1> Cohort List </h1>
<table id="datatable" class="display" data-turbolinks="false">
    <thead>
        <tr>
            <th>Name</th>
            <th>Course</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Number of Students</th>
            <th class='center-col'>Options</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <%= render "cohort_list" %>
    </tbody>
</table>

<div id="cohort-form" style="display:none;">
</div>