<% if has_role?("Student") %>
    <h1>You don't have the authorization to access this page...</h1>
<% end %>
<% if has_role?("Admin") || has_role?("Instructor") %>
<div class="card" style="width: 35.2rem;">
    <div class="card-img-wrapper"> 
        <img class="card-img-top" src="<%= @admin.user.photo_url %>" alt="Admin Avatar">
    </div>
    <%= render "single_admin" %>
</div>
<% end %>