<h1>Students List</h1>

<table id="datatable" data-turbolinks="false" class="display">
    <thead>
        <tr class="table-header">
            <th>First Name</th>
            <th>Last Name</th>
            <th>Birthdate</th>
            <th class="center-col">Email</th>
            <th>Background</th>
            <th class='center-col'>Options</th>
            <% if has_role?("Admin") %>
            <th></th>
            <th></th>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <%= render "student_list" %>
    </tbody>
</table>