<% if has_role?("Student") || has_role?("Instructor") %>
    <h1>You don't have the authorization to access this page...</h1>
<% end %>
<% if has_role?("Admin") %>
<h1>Create New Enrollment</h1>
<br>
<%= form_with scope: :enrollment, url: cohort_enrollments_path, local: true do |f| %>
    <div class="form-group">
        <label>Select Student / Instructor</label>
        <%= collection_select(:enrollment, :user_id, User.all, :id, :full_name, {}, {:class=>'form-control'}) %>
    </div>
    <%= f.button :Submit, class: 'btn btn-primary submit-button' %>
<% end %>
<% end %>