<h1> Course List </h1>
<table id="datatable" class="display" data-turbolinks="false">
    <thead>
        <tr class="table-header">
            <th>Name</th>
            <th>Total Hours</th>
            <th>Number of Cohorts</th>
            <th class='center-col'>Options</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <%= render "course_list" %>
    </tbody>
</table>