.card {
    border: 1px rgb(219, 171, 224) solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
    background-image: linear-gradient(rgb(251, 214, 253), white);

    .card-img-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 3rem 0rem 3rem 0rem;
        // background-color: rgb(255, 235, 252);
    }

    .card-body {
        width: 24rem;
    }
}