.form-group {
    margin: .5em 1.5em .5em 0em;
    width: 15em;
}

.adder-group {
    width: 25em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1em;
}