.wrapper {
    display: flex;
    width: 100%;
}

#devise-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #52154E;
    color: white;
    height: 900px;

    .devise-header {
        margin-top: 3em;

        h1{
            font-size: 240%;
            color: rgb(255, 235, 252);
        }
    }

    .login-logo-wrapper {
        background-color: rgb(255, 235, 252);
        width: 224px;
        border-radius: 1em;
    }

    input {
        color: black;
    }

}

.login-credentials {
    background-color: #ffebfc;
    color: black;
    border-radius: .5em;
    padding: .75em .75em .25em .75em;
    margin: .7em 0em 0em;
    border: rgb(58, 57, 57) solid 1px;
    box-shadow: 0px 5px 13px 2px rgba(255, 187, 244, 0.5);
    font-size: 90%;
}

.layout-logo-title {
    margin-top: .4em;
}

h1 {
    margin-bottom: .4em;
    margin-top: 0em;
}

.purple-button {
    background-color: rgb(143, 73, 150);
    color: white;
    margin-bottom: 1em;
}

.login-button {
    margin-top: 1em;
}

.sessions-button {
    color: black;
}

//SIDEBAR

#sidebar {
    width: 18em;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 1em 2em 0em 2em;
    z-index: 999;
    background: #52154E;
    color: rgb(255, 235, 252);
    transition: all 0.3s;

    p {
        color: #fff;
    }
    a {
        color: #fff;
    }
}


#content {
    margin-left: 22em;
}

.big-list-item {
    font-size: 125%;
}

#logo-wrapper {
    background-color: rgb(255, 235, 252);
    width: 175px;
    border-radius: 1em;
    margin-bottom: -.7em;
}

.sub-menu {
    margin: 1em 0em.3em 0em;
}

.quick-add {
    margin-left: -2.1em;
    list-style: none;
}

//COHORT - COURSE SHOW STYLES

.cohort-info {
    width: 40em;
    border: 1px solid rgb(231, 179, 236);
    border-radius: .5em;
    padding: 1em;
    margin-right: 1em;
    background-image: linear-gradient(rgb(251, 214, 253), white);
}

//TABLE STYLING

td {
    padding: 0em .8em .4em .7em;
    text-align: center;
}

.first-column {
    text-align: left;
}

th {
    padding: 0em 1.3em .1em 1.3em;
    background-color: rgb(231, 179, 236);
}

.center-col {
    text-align: center;
}

table {
    margin-right: 1em;
    border: 1px rgb(219, 171, 224) solid;

    tr {
        border: 1px rgb(219, 171, 224) solid;
        height: 2.5em;
    }
}
  
tr:nth-child(odd){
    background-color: rgb(255, 235, 252);
}

.dataTables_wrapper{
    margin-right: 2em;
}

.mini-table {
    width: 10em;
}

//MEDIA QUERIES

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        margin-left: 0;
    }
    .cohort-info {
        margin: auto;
        width: 98%;
    }
 }